.navbar-brand{
    font-size: 60px;
    font-weight: bold;
}

.nav-item{
    font-size: 40px;
}

.footerdark{
    color: white;
}

.primercuerpo h1{
    font-size: 100px;
    text-decoration: solid;
    color: darkgreen;
}

.primercuerpo p{
    font-size: 30px;
    color: darkgreen;
}

.lead{
    font-weight: bold;
}

.tercercuerpo .row {
    text-align: center;
}

.display-4{
    font-weight: bold;
}

.gradient-custom-3 {
    background: #84fab0;
    
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    background: #84fab0;
    
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
    